body{
    font-family:Arial, sans-serif;
    margin: 0;
    background-color:#007acc;
    color: #333;

}
section{
    text-align: center;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header{
    padding: 30px;
    background-color: blue;
    color: white;
    text-align: center;

}
h1{
    color: aliceblue;
}
